.container{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    gap: 10px;
    margin-left: 180px;
    margin-top: 50px;
}
.listItem{
    border: 1px solid black;
        border-radius: 5px;
}

.listImage{
    display: block;
    
    max-width: 100%;
    width: 300px;
    height: 300px;
}

